@font-face {
    font-family: Asap;
    src: url("./Fonts/AsapCondensed-Black.ttf");

}

*{
    font-family: Asap;
     
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./Images/nu-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  } 

  .links {
    text-decoration: none;
    color: white;
  }

  .option{
    color: white;
  }

